<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Dominika reddit</title>
</head>
<body>
<h1>Posts for today:</h1>
<ul style="list-style-type:none">
    <li><a href="/todo/create">New post</a></li>
</ul>
<table width="800" cellspacing="20" cellpadding="10" border="5" align="left" border-color="#ff6600">
    <tr>
        <th>SCORE</th>
        <th>ACTION</th>
        <th>CONTENT</th>
        <th style="border: none"></th>
        <th style="border: none"></th>
    </tr>
    <tr th:each="post : ${posts}">
        <td th:text="${post.getScore()}"></td>
        <td><a th:href="@{'/post/'+${post.getScore()}+'/plus'}">+</a></td>
        <td><a th:href="@{'/post/'+${post.getScore()}+'/minus'}">-</a></td>
        <td th:text="${post.getContent()}"></td>
    </tr>
</table>
</body>
</html>